.headerContainer {
  /* border: solid; */
  height: 2rem;
  background-color: #EBF5DF;
  border-bottom: 0.05rem solid #e0ebd4;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: relative;
}

.logoContainer {
  height: 2rem;
}

.logo {
  /* keeps the image at aspect-ratio */
  height: 50%;
  object-fit: contain;
  margin-right: 1rem;
}

.logoName {
  font-family: 'AnaktoriaRegular';
  font-weight: normal;
  font-style: normal;
  font-size: xx-large;
  margin-right: 1.5rem;
}

.contentPage__logoutButton {
  margin-left: 1.5rem;
}