
.postCard__userTopline {
  display: flex;
}

.postCard__image1 {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

.postCard__username {
  font-weight: bold;
}

.postCard__captionUsername {
  font-weight: bold;
}

.postCard__caption {
  font-weight: normal;
}